<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.SetmealDishMapper">


    <select id="getSetmealIdByDishIds" resultType="java.lang.Long">
        select id from setmeal_dish where id in
         <foreach collection="dishIds" item="dishid" separator="," open="(" close=")">
             #{dishid}
         </foreach>

    </select>
</mapper>
